* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --border-style: 1px solid black;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
}

h1 {
    color: darkblue;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}

main img {
    width: 150px;
    height: auto;
    border: var(--border-style);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 10px;
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 100px;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

header,
footer,
.grid {
    max-width: 840px;
    margin: 0 auto;
}

footer {
    margin-top: 15px;
    border-top: var(--border-style);
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: black;
}

.grid {
    display: grid;
    place-items: center;
}

main {
    grid-column: 2;
}

aside {
    grid-column: 1;
    grid-row: 1;
    align-self: stretch;
}